.aboutText {
    background: linear-gradient(135deg, #0DB45F, #1ED67C, #47E699);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: gradientAnimation 8s infinite alternate ease-in-out;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(135deg, #0DB45F, #1ED67C, #47E699);
    }

    50% {
        background: linear-gradient(135deg, #1ED67C, #47E699, #6FF5B5);
    }

    100% {
        background: linear-gradient(135deg, #47E699, #6FF5B5, #9AFFD3);
    }
}


.profileImage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 20px;
    transition: 500ms ease-out;
}

.profileImage:hover {
    width: 200px;
    height: 200px;
    transition: 500ms ease-in;
}

.title {
    text-align: center;
}